<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/lmental_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lmental"
        tools:targetApi="31">
        <activity
            android:name=".suicide.SeventhOption.SevOSubOptions.MythRealResults"
            android:exported="false" />
        <activity
            android:name=".suicide.SeventhOption.SevOSubOptions.FirstMyth"
            android:exported="false" />
        <activity
            android:name=".suicide.SeventhOption.SuicideSeventh"
            android:exported="false" />
        <activity
            android:name=".suicide.FourthOption.SelfHate"
            android:exported="false" />
        <activity
            android:name=".suicide.FourthOption.Agitation"
            android:exported="false" />
        <activity
            android:name=".suicide.FourthOption.Stress"
            android:exported="false" />
        <activity
            android:name=".suicide.FourthOption.PsychologicalPain"
            android:exported="false" />
        <activity
            android:name=".suicide.FourthOption.DefeatEntrapment"
            android:exported="false" />
        <activity
            android:name=".suicide.FourthOption.NegativityHelp"
            android:exported="false" />
        <activity
            android:name=".suicide.FourthOption.Impulsiveness"
            android:exported="false" />
        <activity
            android:name=".suicide.FourthOption.Hoplessness"
            android:exported="false" />
        <activity
            android:name=".suicide.FourthOption.SuicideFourth"
            android:exported="false" />
        <activity
            android:name=".suicide.SecondOption.SOSubOptions.SuicideADConsumption"
            android:exported="false" />
        <activity
            android:name=".suicide.SecondOption.SOSubOptions.SchoolarStress.SchoolStressHelp"
            android:exported="false" />
        <activity
            android:name=".suicide.SecondOption.SOSubOptions.SchoolarStress.SchoolarStress"
            android:exported="false" />
        <activity
            android:name=".suicide.SecondOption.SOSubOptions.Bullying"
            android:exported="false" />
        <activity
            android:name=".suicide.SecondOption.SOSubOptions.LowSelfEsteem.LowSelfEsteemHelp"
            android:exported="false" />
        <activity
            android:name=".suicide.SecondOption.SOSubOptions.LowSelfEsteem.LowSelfEsteem"
            android:exported="false" />
        <activity
            android:name=".suicide.SecondOption.SOSubOptions.FamProblems.FamiliarVHelp"
            android:exported="false" />
        <activity
            android:name=".suicide.SecondOption.SOSubOptions.FamProblems.FamiliarViolence"
            android:exported="false" />
        <activity
            android:name=".suicide.SecondOption.SOSubOptions.FamProblems.CDivorce"
            android:exported="false" />
        <activity
            android:name=".suicide.SecondOption.SOSubOptions.FamProblems.FamiliarProblems"
            android:exported="false" />
        <activity
            android:name=".suicide.SecondOption.SOSubOptions.SexualAb.SexualAHelp"
            android:exported="false" />
        <activity
            android:name=".suicide.SecondOption.SOSubOptions.SexualAb.SexualAActivity"
            android:exported="false" />
        <activity
            android:name=".suicide.SecondOption.SOSubOptions.MentalIlnessActivity"
            android:exported="false" />
        <activity
            android:name=".suicide.SecondOption.SuicideSecond"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".suicide.FirstOption.FOSubOptions.SSuicideActivity"
            android:exported="false" />
        <activity
            android:name=".suicide.FirstOption.FOSubOptions.SAttemptActivity"
            android:exported="false" />
        <activity
            android:name=".suicide.FirstOption.FOSubOptions.SPlanActivity"
            android:exported="false" />
        <activity
            android:name=".suicide.FirstOption.FOSubOptions.DIdeaActivity"
            android:exported="false" />
        <activity
            android:name=".suicide.FirstOption.SuicideFirstActivity"
            android:exported="false" />
        <activity
            android:name=".consumo.ConsumoActivity"
            android:exported="false" />
        <activity
            android:name=".suicide.SuicideActivity"
            android:exported="false" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>